.sidebar {
    height: 90vh;
    max-height: 100vh;
    background: #bcceb7;
    opacity: 0.9;
}

.menu-selection {
    font-weight: bold;
    font-family: 'Open Sans';
    color: #000000;
    padding: 12px 0;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px solid #012b01;
    cursor: pointer;
}